/* The container <div> - needed to position the dropdown content */
.pull-down-menu {
  background-color: inherit;
  position: relative;
  display: inline-block;
}

/* Dropdown Button */
.pull-down-menu__header {
  background-color: inherit;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* Dropdown Content (Hidden by Default) */
.pull-down-menu__content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

@media screen and (max-width: 600px) {
  .pull-down-menu__content {
    right: 0;
  }
}

/* Links inside the dropdown */
.pull-down-menu__content .pull-down-menu__option {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.pull-down-menu__content .pull-down-menu__option:hover {
  background-color: #000;
  color: #fff;
}

/* Show the dropdown menu on hover */
.pull-down-menu:hover .pull-down-menu__content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.pull-down-menu:hover .pull-down-menu__header {
  background-color: #da1219;
}
